<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  <div id="app" class="container mx-auto pt-12">
    <div
      class="bg-grey-200 shadow-xl p-8 rounded-lg mb-12"
      v-for="article in articles"
      :key="article.id"
    >
  </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  // name: 'App',
  // components: {
  //   HelloWorld
  // }
  data() {
    return {
      articles: [],
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
